<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Directory listing for /resources/views/</title>
</head>
<body>
<h1>Directory listing for /resources/views/</h1>
<hr>
<ul>
<li><a href="admin/">admin/</a></li>
<li><a href="auth/">auth/</a></li>
<li><a href="conponment/">conponment/</a></li>
<li><a href="developer/">developer/</a></li>
<li><a href="layouts/">layouts/</a></li>
<li><a href="user/">user/</a></li>
<li><a href="welcome.blade.php">welcome.blade.php</a></li>
</ul>
<hr>
</body>
</html>
