<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Directory listing for /resources/views/admin/client/</title>
</head>
<body>
<h1>Directory listing for /resources/views/admin/client/</h1>
<hr>
<ul>
<li><a href="client_cont_panel.blade.php">client_cont_panel.blade.php</a></li>
<li><a href="client_project_table.blade.php">client_project_table.blade.php</a></li>
<li><a href="client_table.blade.php">client_table.blade.php</a></li>
<li><a href="send_timeline_event.blade.php">send_timeline_event.blade.php</a></li>
</ul>
<hr>
</body>
</html>
