<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Directory listing for /resources/views/admin/developers/</title>
</head>
<body>
<h1>Directory listing for /resources/views/admin/developers/</h1>
<hr>
<ul>
<li><a href="add_dev.blade.php">add_dev.blade.php</a></li>
<li><a href="dev_cont_panel.blade.php">dev_cont_panel.blade.php</a></li>
<li><a href="dev_project_table.blade.php">dev_project_table.blade.php</a></li>
<li><a href="dev_table.blade.php">dev_table.blade.php</a></li>
<li><a href="send_task_to_dev.blade.php">send_task_to_dev.blade.php</a></li>
</ul>
<hr>
</body>
</html>
