<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Directory listing for /resources/views/admin/admin/</title>
</head>
<body>
<h1>Directory listing for /resources/views/admin/admin/</h1>
<hr>
<ul>
<li><a href="add_admin.blade.php">add_admin.blade.php</a></li>
<li><a href="add_project.blade.php">add_project.blade.php</a></li>
<li><a href="admin_cont_panel.html">admin_cont_panel.html</a></li>
<li><a href="admin_table.blade.php">admin_table.blade.php</a></li>
</ul>
<hr>
</body>
</html>
